h1 {
    font-size: 26px;
    text-transform: uppercase;
    color: darkblue;
}

#p {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
}

article div ul {
    text-decoration: none;
    text-align:center;

}

header ul {
    margin: 0px;
}

ul {
    margin: 0px;
}

header {
    background-color: darkslategrey;
    padding-bottom: 2px;
    padding-top: 2px;
}

li {
    margin-bottom: 5px;
}

h2 {
    text-transform: uppercase;
    color: cadetblue;
    border: 1px solid;
    padding-bottom: 2px;
    
}

section {
    padding-left: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.p {
   line-height: 30px;
   font-size: 20px;
}

section table {
    text-align: center;
    border-collapse: collapse;
}

#firstchild {
    background-color: darkgray;
    color:rgb(63, 17, 17);
    border: 1px solid;
    padding:5px; 
}

form label {
    background-color:green;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

form input[ type='email'] {
    border: 1px solid;
    width: 150px;
    padding:5px;
    margin-bottom: 5px;
}

form input[ type='submit'] {
    background-color: green;
    color: white;
    border: 7px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding:10px;
    margin-bottom: 7px;
}
footer {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: darkkhaki;
}

footer ul a {
    color:dodgerblue;
    text-decoration: none;
}

footer ul a:hover{
    background-color: green;
    color:blueviolet;
}